In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./r1AllFlights.csv', index_col = 0, header = 0)
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,YEAR,MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,DEST,DEST_STATE_ABR,CRS_DEP_TIME,CRS_ELAPSED_TIME,DISTANCE,LABEL
0,2010,1,6,9E,ATL,GA,AUS,TX,1056.0,154.0,813.0,1
1,2010,1,6,9E,ATL,GA,AUS,TX,1056.0,154.0,813.0,1
2,2010,1,6,9E,ATL,GA,AUS,TX,1056.0,154.0,813.0,0
3,2010,1,6,9E,ATL,GA,AUS,TX,1056.0,154.0,813.0,0
4,2010,1,2,9E,ATL,GA,RDU,NC,1755.0,85.0,356.0,0

In [3]:
df_aggregated = df.groupby(by=['ORIGIN','DEST', 'YEAR','LABEL'], squeeze=True).count()
df_aggregated

                        MONTH  DAY_OF_WEEK  UNIQUE_CARRIER  ORIGIN_STATE_ABR  \
ORIGIN DEST YEAR LABEL
ABE    ATL  2010 0        437          437             437               437
                 1         74           74              74                74
                 3          8            8               8                 8
            2011 0        545          545             545               545
                 1        129          129             129               129
                 2          4            4               4                 4
                 3         28           28              28                28
            2012 0        414          414             414               414
                 1         36           36              36                36
                 2          2            2               2                 2
                 3          2            2               2                 2
       AVP  2011 3          1            1               1                 1
       CLE  2010 0         26           26              26                26
                 1          8            8               8                 8
       CLT  2010 0        310          310             310               310
                 1         26           26              26                26
                 3         11           11              11                11
            2011 0        275          275             275               275
                 1         59           59              59                59
                 3          5            5               5                 5
            2012 0        324          324             324               324
                 1         30           30              30                30
                 3         10           10              10                10
       DTW  2010 0        865          865             865               865
                 1        204          204             204               204
                 2          4            4               4                 4
                 3         28           28              28                28
            2011 0        133          133             133               133
                 1         36           36              36                36
            2012 0        238          238             238               238
...                       ...          ...             ...               ...
YAK    JNU  2012 0        321          321             321               321
                 1         27           27              27                27
                 2          4            4               4                 4
                 3         10           10              10                10
YUM    IPL  2010 0        322          322             322               322
                 1         35           35              35                35
                 3          8            8               8                 8
            2011 0         40           40              40                40
                 1          6            6               6                 6
       LAX  2010 0       1266         1266            1266              1266
                 1        189          189             189               189
                 2          2            2               2                 2
                 3         14           14              14                14
            2011 0       1241         1241            1241              1241
                 1        218          218             218               218
                 2          3            3               3                 3
                 3         15           15              15                15
            2012 0       1013         1013            1013              1013
                 1        190          190             190               190
                 2          4            4               4                 4
                 3         12           12              12                12
       PHX  2010 0       1939         1939            1939              1939
                 1        156          156             156               156
                 3         31           31              31                31
            2011 0       1944         1944            1944              1944
                 1        170          170             170               170
                 3         92           92              92                92
            2012 0       1775         1775            1775              1775
                 1        177          177             177               177
                 3         24           24              24                24

                        DEST_STATE_ABR  CRS_DEP_TIME  CRS_ELAPSED_TIME  \
ORIGIN DEST YEAR LABEL
ABE    ATL  2010 0                 437           437               437
                 1                  74            74                74
                 3                   8             8                 8
            2011 0                 545           545               545
                 1                 129           129               129
                 2                   4             4                 4
                 3                  28            28                28
            2012 0                 414           414               414
                 1                  36            36                36
                 2                   2             2                 2
                 3                   2             2                 2
       AVP  2011 3                   1             1                 1
       CLE  2010 0                  26            26                26
                 1                   8             8                 8
       CLT  2010 0                 310           310               310
                 1                  26            26                26
                 3                  11            11                11
            2011 0                 275           275               275
                 1                  59            59                59
                 3                   5             5                 5
            2012 0                 324           324               324
                 1                  30            30                30
                 3                  10            10                10
       DTW  2010 0                 865           865               865
                 1                 204           204               204
                 2                   4             4                 4
                 3                  28            28                28
            2011 0                 133           133               133
                 1                  36            36                36
            2012 0                 238           238               238
...                                ...           ...               ...
YAK    JNU  2012 0                 321           321               321
                 1                  27            27                27
                 2                   4             4                 4
                 3                  10            10                10
YUM    IPL  2010 0                 322           322               322
                 1                  35            35                35
                 3                   8             8                 8
            2011 0                  40            40                40
                 1                   6             6                 6
       LAX  2010 0                1266          1266              1266
                 1                 189           189               189
                 2                   2             2                 2
                 3                  14            14                14
            2011 0                1241          1241              1241
                 1                 218           218               218
                 2                   3             3                 3
                 3                  15            15                15
            2012 0                1013          1013              1013
                 1                 190           190               190
                 2                   4             4                 4
                 3                  12            12                12
       PHX  2010 0                1939          1939              1939
                 1                 156           156               156
                 3                  31            31                31
            2011 0                1944          1944              1944
                 1                 170           170               170
                 3                  92            92                92
            2012 0                1775          1775              1775
                 1                 177           177               177
                 3                  24            24                24

                        DISTANCE
ORIGIN DEST YEAR LABEL
ABE    ATL  2010 0           437
                 1            74
                 3             8
            2011 0           545
                 1           129
                 2             4
                 3            28
            2012 0           414
                 1            36
                 2             2
                 3             2
       AVP  2011 3             1
       CLE  2010 0            26
                 1             8
       CLT  2010 0           310
                 1            26
                 3            11
            2011 0           275
                 1            59
                 3             5
            2012 0           324
                 1            30
                 3            10
       DTW  2010 0           865
                 1           204
                 2             4
                 3            28
            2011 0           133
                 1            36
            2012 0           238
...                          ...
YAK    JNU  2012 0           321
                 1            27
                 2             4
                 3            10
YUM    IPL  2010 0           322
                 1            35
                 3             8
            2011 0            40
                 1             6
       LAX  2010 0          1266
                 1           189
                 2             2
                 3            14
            2011 0          1241
                 1           218
                 2             3
                 3            15
            2012 0          1013
                 1           190
                 2             4
                 3            12
       PHX  2010 0          1939
                 1           156
                 3            31
            2011 0          1944
                 1           170
                 3            92
            2012 0          1775
                 1           177
                 3            24

[48645 rows x 8 columns]

In [4]:
df_aggregated.to_csv('./AllFlightsGrouped.csv')

In [46]:
df2 = df.drop_duplicates(subset='DEST', keep='first')

In [49]:
df2[['DEST', 'ORIGIN']].to_csv('./airportconnectionreverse.csv', header=False, index = False)